<!-- <form class="emp-form" [formGroup]="addDevice" (ngSubmit)="onSubmitDevice()">
    <div class="form-row">
      <div class="form-group col-md-4 pm-15">
        <label class="mf-0-small">Tên thiết bị</label>
        <input class="form-control form-control-sm" autocomplete="off" formControlName="name_device"
          placeholder="Tên Thiết Bị">
      </div>
      <div class="form-group col-md-4 pm-15">
        <label class="mf-0-small">ID thiết bị</label>
        <input class="form-control form-control-sm" [attr.disabled]="true" autocomplete="off"
          formControlName="code_device" placeholder="ID_Device">
      </div>
      <div class="form-group col-md-4 pm-15">
        <label class="mf-0-small">Kiểu thiết bị</label>
        <input class="form-control form-control-sm" [attr.disabled]="true" autocomplete="off"
          formControlName="device_type" placeholder="device_type">
      </div>
    </div>
    <div class="form-group pm-15">
      <label class="mf-0-small">Hình ảnh</label>
      <input class="form-control form-control-sm" autocomplete="off" formControlName="icon" placeholder="icon">
    </div>
    <div class="form-group pm-15">
      <label class="mf-0-small">Ghi chú</label>
      <input class="form-control form-control-sm" autocomplete="off" formControlName="note"
        placeholder="Ghi chú">
    </div>
    <div class="form-group pm-15">
      <label class="mf-0-small">Trạng thái</label>
      <select class="form-control form-control-sm" formControlName="status">
        <option value=null selected>--Trạng thái--</option>
        <option [ngValue]="true">Kích hoạt</option>
        <option [ngValue]="false">Khóa</option>
      </select>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <button #statusSaveDevice type="submit" class="btn btn-block btn-info btn-sm">
          <i class="fa fa-floppy-o"></i> Lưu</button>
      </div>
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-block btn-secondary btn-sm" (click)="CloseDevice()">
          <i class="fa fa-repeat"></i>Đóng</button>
      </div>
    </div>
  </form> -->